@import "tailwindcss";

:root {
  --background: #ffffff;
  /* Siempre blanco */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* BORRÉ EL BLOQUE @media (prefers-color-scheme: dark) DE ACÁ */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ocultar el indicador de desarrollo */
#__next-build-watcher,
nextjs-portal,
[id^="__next"],
[class*="__next"] {
  display: none !important;
}